[Unit]
Description=Bots for Mastodon
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/home/pi/rekibot/startimgbots.sh

[Install]
WantedBy=multi-user.target